/*-----------GLOBAL------------*/
body {
  /*margin: 0;*/
  font-family: 'Muli', sans-serif;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
  padding-top: 4%;
}

h2 {
  font-size: 30px;
}

/*-----------HEADER----------------*/

header {
  background-color: #1A278A;
  display: inline-block;
  width: 100%;
}

.profilnaSlika {
  width: 240px;
  border-radius: 50%;
  float: left;
  padding: 3% 0;
  margin-left: 2%;
}

.headerText {
  text-align: center;
  color: white;
}

.bannerContent {
  margin: 10px 20px;
  align-items: center;
}

.headerText p {
  margin-top: 4%;
}
