/*-----------GLOBAL------------*/

body {
  margin: 0px;
  font-family: 'Muli', sans-serif;
  background-color: #1BABFF;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
  padding-top: 4%;
}

h2 {
  font-size: 30px;
  color: #1BABFF;
}


/*-----------HEADER----------------*/

header {
  background-color: #1A278A;
  display: inline-block;
  width: 100%;
  border-bottom: solid;
  border-top: solid;
  border-color: #808499;
  border-width: thick;
}

.profilnaSlika {
  width: 240px;
  border-radius: 50%;
  float: left;
  padding: 3% 0;
  margin-left: 2%;
}

.headerText {
  text-align: center;
  color: white;
}

.bannerContent {
  margin: 10px 20px;
  align-items: center;
  overflow: auto;
}

.headerText p {
  margin-top: 4%;
}

/*-----------O MENI------------*/

.oMeni {
  background-color: #808499;
  color: white;
  text-shadow: 2px 2px black;
  padding: 2%;
  margin: 0.5%;
  border: solid;
  border-color: #1A278A;
}

.oMeni h2{
  text-align: center;
  font-size: 40px;
  margin: 5% auto;
}

.informacije {
  float: left;
  padding: 3%;
  border: solid;
  border-color: #1BABFF;
  border-radius: 5%;
}

.programskiJezici {
  overflow: auto;
  margin-left: 66%;
  margin-top: 0;
  padding: 3%;
  border: solid;
  border-color: #1BABFF;
  border-radius: 5%;
}

.zasto h3 {
  margin-left: 13%;
  margin-bottom: 4%;
}

.zasto p {
  line-height: 180%;
}


/*-------------OBRAZOVANJE--------------*/

.obrazovanje {
  background-color: #1BABFF;
  color: white;
  padding: 2%;
  text-shadow: 2px 2px black;
  margin-bottom: 4%;
}

.obrazovanje h2{
  color: #1A278A;
  text-align: center;
  margin: 5% 0;
  font-size: 40px;
}

dt {
  margin-left: 100px;
}

dd {
  font-size: 20px;
  color: #1A278A;
  text-shadow: none;
}


/*------------Footer------------*/

footer {
  background-color: #1A278A;
  padding: 2%;
  text-align: center;
  border-bottom: solid;
  border-top: solid;
  border-color: #808499;
  border-width: thick;
}

footer h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
  color: white;
  margin: 2%;
}

footer p {
  font-family: 'Kaushan Script', cursive;
  font-size: 26px;
  color: white;
  margin: 1%;
}

.logowrap img {
  width: 80px;
}
