/*-----------GLOBAL------------*/
body {
  margin: 0px;
  font-family: 'Muli', sans-serif;
  background-color: #1BABFF;
  background: url(../img/background2.jpg);
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
  margin-top: 0;
  padding-top: 2%;
}

h2 {
  font-size: 30px;
  color: #E85F0C;
  font-family:  'Kaushan Script', cursive;
}

p {
  letter-spacing: 1px;
}

.prednjaPozadina {
  background: rgba(17, 52, 110, 0.5);
}

.zadnjaPozadina {
  background-image:  url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.zadnjaPozadina:first-child { /*oblik pozadine headera*/
  border-radius: 0% 0% 12% 12%;
}

.zadnjaPozadina:nth-child(2) { /*oblik pozadine o meni*/
  border-radius: 2%;
}

/*-----------HEADER----------------*/

header {
  display: inline-block;
  width: 100%;
  border-bottom: solid;
  border-top: solid;
  border-color: #1A278A;
  border-width: thick;
  border-radius: 0% 0% 12% 12%;
  border-bottom: solid;
  border-color: #E85F0C;
  border-width: thick;
}

.bannerContent {
  margin: 0;
  align-items: center;
  clear: both;
  width: 90%;
  margin-left: 7%;
}

.profilnaSlika {
  width: 240px;
  border-radius: 50%;
  float: left;
  padding: 3% 0;
  margin-right: 3%;
}

.headerText {
  color: white;
  margin-top: 0%;
  width: 100%;
}

.headerText p {
  margin-top: 4%;
}

/*-----------NAVIGATION--------*/
nav {
  text-align: center;
  font-size: 0;
}

nav a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 0.5% 3%;
  width: 15%;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
}

nav a:hover {
  background-color: #E85F0C;
  border-radius: 0 0 85% 85%;
  color: black;
}
/*-----------O MENI------------*/

.oMeni {
  color: white;
  text-shadow: 2px 2px black;
  padding: 2%;
  margin: 0.5%;
  margin-top: 2%;
  border: solid;
  border-color: #E85F0C;
  border-radius: 2%;
}

.oMeni h2{
  text-align: center;
  font-size: 40px;
  margin: 5% auto;
}

.informacije {
  float: left;
  padding: 3%;
  border-radius: 5%;
  width: 61%;
  min-width: 250px;
  background: url(../img/background2.jpg);
  border: solid;
  border-color: #E85F0C;
}

.programskiJezici {
  overflow: auto;
  margin-left: 71%;
  margin-top: 0;
  padding: 3%;
  border: solid;
  border-color: #E85F0C;
  border-radius: 5%;
  width: 22%;
  background: url(../img/background2.jpg);
}

.zasto h3 {
  width: 61%;
  /*margin-left: 13%;*/
  text-align: center;
  margin-bottom: 4%;
}

.zasto p {
  line-height: 180%;
}


/*-------------OBRAZOVANJE--------------*/

.obrazovanje {
  color: white;
  padding: 2%;
  text-shadow: 2px 2px black;
}

.obrazovanje h2{
  color: #E85F0C;
  text-align: center;
  margin: 5% 0;
  font-size: 40px;
}

dt {
  margin-left: 9%;
  width: 88%;
  margin-bottom: 4%;
}

dd {
  font-size: 20px;
  color: #E85F0C;
  text-shadow: none;
  font-family: 'Kaushan Script', cursive;
}


/*------------Footer------------*/

footer {
  background-color: #1A278A;
  padding: 0%;
  text-align: center;
  border-bottom: solid;
  border-top: solid;
  border-color: #E85F0C;
  border-width: thick;
  overflow: auto;
  border-radius: 12% 12% 0 0;
}

footer h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 300%;
  color: white;
  margin-bottom: 0.5%;
  margin-top: 0%;
}

#email {
  font-family: 'Kaushan Script', cursive;
  font-size: 130%;
  color: white;
  margin: 0%;
}

.logowrap img {
  width: 80px;
  margin: auto 1.5%;
}

#copyright {
  color: white;
  margin: 0 1% 0 0;
  float: right;
  padding: 0;
  font-size: 80%;
}

.logowrap a:hover {
  border-radius: 50%;
  background: #808499;
}
